
.bgimg{
	background-image:url('img/bg.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 660px;
}
.headerset{
	padding-top: 250px;
	box-sizing:border-box;
}
.headerset h2{
	font-size: 42px;
}
.headerset h1{
	font-size: 82px;
	font-weight: bold;
}
.ourservices{
	padding: 100px 0px 60px;
	height: 700px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}

.rowsetting{
    margin: 80px 0px !important;
}
.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-shopping-cart{
	margin-top:20px;
}
.fa-desktop{
	margin-top:26px;
}
.fa-lock{
	margin-top: 25px;
}
.rowsetting p{
	color: #6c757d !important;
	padding: 10px;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
}
.portfolio{
	height: 1100px;
	width: 100%;
	padding: 100px 0px 50px;
}
.portfolio h1{
	font-size: 50px;
	font-weight: bold;
}
.card{
	margin-top: 40px;
}
.ourteam{
	height: 700px;
	padding: 100px 0px 60px;
	width: 100%;
}
.ourteam h1{
	font-size: 50px;
	font-weight: bold;

}
.teamsetting{
	margin-top:70px !important;
}
.footer{
	height: 50px;

}
.footer h6{
	line-height: 50px;
}

/* ----Responsive(media query)--- */
@media(min-width:992px){

}
@media(min-width:768px) and (max-width:991px){
	
}
@media(min-width:575px) and (max-width:767px){
	
}
@media(min-width:480px) and (max-width:574px){
	
}
@media(max-width:479px){
	.headerset h2{
		font-size: 22px;
	}
	.headerset h1{
		font-size: 42px;
		font-weight: bold;
	}
	.ourservices{
	
		height: 1200px;
	}
	.ourservices h1{
		font-size: 50px;
		font-weight: bold;
	}
	.ourteam{
		height: 1200px;
		
	}
	.ourteam h1{
		font-size: 50px;
		font-weight: bold;
	
	}
	
	
}